@import-normalize; /* bring in normalize.css styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

p,h1,h2,h3 ,h4 ,h5 ,h6 ,ul {
    margin: 0px;
    padding: 0px;
}

.list {
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #000;
  border-radius: 10px;
  transition: all .5s;
  cursor: pointer;

  @media screen and (max-width: 550px) {
    font-size: 12px;
    padding: 10px 20px 10px;
  }

  @media screen and (min-width: 910px) and (max-width: 1199px) {
    font-size: 12px;
    padding: 10px 30px 10px;
  }
}

.button:hover {
  color: #5A0D67;
  background-color: #fff;
}

.container{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width: 480px) {
      max-width: 480px;
  }

    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-left: 70px;
      padding-right: 70px;
  }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      padding-left: 70px;
      padding-right: 70px;
  }
}

.logo {
  margin: 0;
}

.no-scroll-modal {
  overflow: hidden;
}

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #dcc8bc;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #dcc8bc;
  border: 2px solid #dcc8bc;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}


.switcher {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
}

.switcher-lib {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
  margin-top: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 15px;
  @media screen and (min-width: 768px) {
    width: 36px;
    height: 19px;
  }
}
.theme-switch-icon {
  fill: #ff6b08;
  stroke: #ff6b08;
  height: 100%;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #d5363e;
  z-index: 2;
}

.slider:before {
  position: absolute;
  content: '';
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 1px;
  background-color: #ff6b08;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  @media screen and (min-width: 78px) {
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switcher-theme-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-style: italic;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
