@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

p,h1,h2,h3 ,h4 ,h5 ,h6 ,ul {
    margin: 0px;
    padding: 0px;
}

.list {
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #000;
  border-radius: 10px;
  transition: all .5s;
  cursor: pointer;

  @media screen and (max-width: 550px) {
    font-size: 12px;
    padding: 10px 20px 10px;
  }

  @media screen and (min-width: 910px) and (max-width: 1199px) {
    font-size: 12px;
    padding: 10px 30px 10px;
  }
}

.button:hover {
  color: #5A0D67;
  background-color: #fff;
}

.container{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width: 480px) {
      max-width: 480px;
  }

    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-left: 70px;
      padding-right: 70px;
  }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      padding-left: 70px;
      padding-right: 70px;
  }
}

.logo {
  margin: 0;
}